<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="/assets/img/wood.svg" class="img-circle elevation-2" alt="User Image" href="/home">
    </div>
    <div class="info">
      <a href="/home" class="d-block"><%= nomPrenom %></a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a href="/home" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Mes quizz
            <span class="right badge badge-danger">New</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/newQuizz" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Creez un quizz
            <span class="right badge badge-danger">New</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/Quizz" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Participer a un quizz
            <!-- <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/myScore" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Mes scores
            <!-- <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/destroysession" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>
          <p>
            Deconnexion
          </p>
        </a>
      </li>
      
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>